/* to all */

:root {
  --main-color: #2e2e2e;
  --font-color: rgb(217, 217, 217);
  --accent-color: rgba(160, 0, 0, 0.76);
  --accent-color-too: rgb(207, 207, 64);
  --accent-font-family: "Dosis", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--main-color);
  color: var(--font-color);
  max-width: 1350px;
  margin: 35px auto 10px;
  padding: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  transition: all 300ms ease-in-out;
  color: var(--font-color);
  display: inline-block;
}

a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

/* header */

.name {
  display: inline-block;
  margin-bottom: 5px;
  font-family: var(--accent-font-family);
  font-size: 500;
}

.pages {
  margin-bottom: 5px;
}

.pages a {
  font-size: 20px;
}

.active {
  color: var(--accent-color);
}

/* main  work page */

.main {
  padding-top: 15px;
  padding-bottom: 30px;
}

.illustration-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.illustration-card {
  padding: 0px;
  max-width: 600px;
  position: relative;
}

.name-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

.card-name {
  font-size: 25px;
  font-weight: 700;
  font-family: var(--accent-font-family);
  color: var(--accent-color-too);
}

.illustration-card img {
  transition: all 400ms ease-in-out;
}

.illustr-card {
  display: block;
}

.illustration-card .card-name {
  transition: all 600ms ease-in-out;
}

.illustration-card:hover img {
  opacity: 0.5;
}

.illustration-card:hover .card-name {
  opacity: 1;
}

/* footer */

.socials {
  margin-bottom: 20px;
}

.socials a {
  font-size: 23px;
}

/* illustration card page */

.illustr-card-header {
  display: flex;
  margin: 0 auto;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
}

.illustr-card-header a {
  display: inline-block;
}

.name-and-arrows {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.illustr-name {
  font-size: 30px;
}

.full-img {
  max-height: 540px;
}

.disabled {
  pointer-events: none;
}

/* responsive */

@media (max-width: 768px) {
  body {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .main {
    padding-bottom: 0;
  }

  .socials {
    margin-bottom: 0;
  }
}

@media (min-width: 1220px) {
  .illustration-cards {
    justify-content: left;
  }
}

/* contact and about pages */

.contact a,
.about strong {
  font-family: var(--accent-font-family);
  font-size: 19px;
  font-weight: 600;
}

.contain {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.contain .main {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .contain .main {
    flex-grow: 0;
    margin-bottom: 30px;
  }
}
